<header class="site-header">
  <%= link_to root_path, class: "site-header__brand", "aria-label": "DevCine home" do %>
    <%= image_tag "/logo_with_word.png", alt: "DevCine", class: "site-header__logo site-header__logo--desktop" %>
    <%= image_tag "/logo.png", alt: "DevCine", class: "site-header__logo site-header__logo--mobile" %>
  <% end %>

  <div class="site-header__actions">
    <%# Search is a control that navigates to the dedicated /search page. %>
    <%= link_to search_path, class: "search-box", role: "search",
          data: { controller: "search-redirect", action: "focus->search-redirect#go" } do %>
      <span class="search-box__placeholder">Search</span>
    <% end %>

    <%# Avatar opens the left navigation drawer (controller on <body>). %>
    <button type="button" class="avatar" data-action="drawer#open"
            aria-label="Open menu" title="<%= Current.user&.display_label %>">
      <%= Current.user&.initials %>
    </button>
  </div>
</header>
